<footer>
    <nav>
        <div class="me animate__animated animate__zoomInUp">
            <span><a title="Hexo" href="https://hexo.io/">Hexo</a> 强力驱动</span>
            /
            <span><a title="Heri" href="/">Heri</a> 主题</span>
        </div>
    </nav>
</footer>