<header>
    <nav>
        <div class="name animate__animated animate__zoomInDown">
            <span class="g">
                <a href="/"></a>
                <%= config.title %>
            </span>
            <span class="i"><%= config.subtitle %></span>
        </div>
    </nav>
</header>